body {
  background-color: rgb(153, 149, 149);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.icon {
  width: 1rem;
  height: 1rem;
}

.quote-container {
  margin: auto;
  width: 50%;
  background-color: white;
  padding: 4rem;
}

.quotes {
  font-family: "Courier New", Courier, monospace;
}

#dislike,
#generateButton {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px;
  background-color: black;
  color: white;
  margin: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
}

#artist {
  text-align: end;
}

.dislike-container {
    display: none;
  margin: auto;
  width: 60%;
  background-color: white;
  padding: 4rem;
}

#deleteButton{
    background-color: red;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}
#dislike-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: solid black;
  font-size: 1.3rem;
  overflow: auto;
}
